<h1>contact page</h1>

<script
  headers['Access-Control-Allow-Origin'] = '*'
  headers['Access-Control-Allow-Methods'] = 'POST, PUT, DELETE, GET, OPTIONS'
  headers['Access-Control-Request-Method'] = '*'
  headers['Access-Control-Allow-Headers'] = 'Origin, X-Requested-With, Content-Type, Accept, Authorization' >
</script>

<!-- simple variable use -->
<p> my name is <%=@myname%> </p>

<head>
  <!-- adding in sisense js file -->
  <script type="text/javascript" src="http://msmecor.com/js/sisense.js"></script>
  <!-- javascript to init sisense objects -->
  <script type = "text/javascript">
    Sisense.connect('https://msmecor.com/app/main#/dashboards/59ce0a611d784e402600002a/widgets/59ce0a761d784e402600002f', false).then(function(app) {
      app.dashboards.load('59ce0a611d784e402600002a').then(function(dash){ //replace with your dashboard id
               dash.widgets.get('59ce77001d784e4026000132').container = document.getElementById("widget1"); //replace with one of your widgets' id.
               dash.widgets.get('59ce0a761d784e402600002f').container = document.getElementById("logo"); //replace with another of your widgets' id.
               dash.renderFilters(document.getElementById("filters"));
               dash.refresh();
    });
  });
  </script>
</head>

<body>
  <!-- normal html link to dashboard -->
  <div>
    <a href="https://msmecor.com/app/main#/dashboards/59ce0a611d784e402600002a/widgets/59ce77001d784e4026000132?embed=true">go to sisense</a>
  </div>

  <!-- widget from narmal html -->
  <div>
    <iframe id="ifm" name="ifm" width="100%" height="100%" frameborder="0" src="https://msmecor.com/app/main#/dashboards/59ce0a611d784e402600002a/widgets/59ce0a761d784e402600002f?embed=true" scrolling="auto">
    </iframe>
  </div>

  <!-- widget with erb tag and variables -->
  <div>
    <%= content_tag(:iframe, nil, id:"ifm", name:"ifm", width:"100%", height:"100%", frameborder:"0", src:@baseurl+@dashhash+@ontime+@embed) %>
  </div>

  <!-- html using sisense js objects -->
   <div id = "sisenseApp">
        <div class = "Tab1" id = "widget1" style = "height: 200px; width: 100%; float: left; display: inline; margin-top:30px;"></div>
        <!-- <div class = "Tab1" id = "logo" style = "height: 400px; width: 40%; float: left; top: 500px; display: inline; margin-top:30px;"></div>
        <div id = "filters" style = "height: 400px; width: 25%; float: left; top: 80px; left: 0px; display: inline; margin-top:80px;"></div> -->
   </div>
</body>
